<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type = "text/css" href="css/1.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="semantic/dist/components/grid.css">
        <script src="semantic/dist/semantic.min.js"></script>
        <script>
                $(document).ready(function(){
                  $("#step1").hide();
                  $("#step2").hide();
                  $("#step3").hide();
                  $('#hidden_frame').load(function(){
                        var text=$(this).contents().find("body").text();
                        //var j=$.parseJSON(text);
                        
                        alert("aaa");
                        console.log(text);
                    });
                  $("#start").click(function(){
                    $("#step1").fadeIn();
                  });
                  $("#btn1").click(function(){
                    $("#step2").fadeIn();
                    $('#btn1').hide();
                  });
                  $("#btn2").click(function(){
                    
                    $("#step3").fadeIn();
                    $("#btn2").hide();
                  });
                });
            function uploadImage(){
                var formData = new FormData($("#fileUpload"));
                console.log(formData);
                $.ajax({
                    url:"http://127.0.0.1:8082/uploadImage",
                    type:"POST",
                    dataType:"json",
                    data:formData,
                    contentType:false,
                    processData:false,
                    success:function(data){
                        console.log(data);
                    }
                });
            }
        </script>
        
    </head>

    <body>
        <script>
            function changImg(e){ 
                for (var i = 0; i < e.target.files.length; i++) {
                    var file = e.target.files.item(i);
                    if (!(/^image\/.*$/i.test(file.type))) {
                        alert("can only upload image");
                        continue; 
                    }
                    var freader = new FileReader();  
                    freader.readAsDataURL(file);  
                    freader.onload = function(e) {  
                        $("#image").attr("src",e.target.result);  
                    }  
                }  
            }  
        </script>

    <div class="ui inverted vertical masthead center aligned segment">
        <div class="ui text container">
            <h1 >
                Emousic
            </h1>
            <h2>Music fit for your emotion</h2>
            <div class="ui huge primary button" id="start">start <i class="right arrow icon"></i></div>
        </div>
    </div>
    <div id="step1">
    <center>
        <div class="step">
            <i class="camera icon"></i>
            <div class="content">
                <div class="description">1.take a photo for yourself</div>
            </div>
        </div>
        <div class="ui medium button" id="btn1">next<i class="right arrow icon"></i></div>
    </center>
    </div>
    <div id="step2">
            <center>
                <div class="step">
                    <i class="upload icon"></i>
                    <div class="content">
                        <div class="description">2.upload your photo</div>
                    </div>
                </div>
                </br>
                <img id="image" src="picture/demo.jpg" height="200px" width="200px">  
                </br>
                <form action="http://127.0.0.1:8082/uploadImage" method="post" enctype="multipart/form-data" id="fileUpload" target="hidden_frame">  
                    <input type="file" name="files" accept="image/*" onchange="changImg(event)" id="image"> 
                    </br> 
                    
                    <input type="submit" value="upload this image"/>
                </form>  
                <div class="ui medium button" id="btn2">next<i class="right arrow icon"></i></div>
            </center>
            <iframe name='hidden_frame' id="hidden_frame" style='display: none'></iframe>
    </div>
    <div id="step3">
        <center>
            <div class="ui text container">
                <h1>Enjoy!</h1>
                <ol id="resultList">
                    <li>music1</li>
                    <li>music2</li>
                </ol>
            </div>
            
        </center>
    </div>
    </body>
