<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script
			  src="https://code.jquery.com/jquery-3.3.1.js"
			  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
			  crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    .bg-head {
      color: #ffffff;
      background-color: rgba(48,125,246,1);
      margin: 10px;
      margin-bottom: 0px;
    }
    .bg-body {
      color: #ffffff;
      background-color: rgba(48,125,246,0.7);
      margin: 10px;
      margin-top: 0px;
    }
  </style>
</head>

<body>
  <script>
    $(document).ready(function(){
      $('#hidden_frame').load(function(){
        alert("aaa");
            var text=$(this).contents().find("body").text();
            console.log(text);
        });
    });
      
  </script>

  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" style="color:#ffffff">Emousic</a>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="music name" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </nav>

  <div class="container m-3">
    <div class="row mb-3">
      <div class="col">
        <h4>1. Upload your photo</h4>
      </div>
    </div>
    <div class="row">
      <div class="col ml-3">
        <form action="http://127.0.0.1:8082/uploadImage" method="post" enctype="multipart/form-data" target="hidden_frame">
          <label class="btn btn-outline-success">
            Select your image
            <input type="file" hidden name="files" accept="image/*" onchange="changImg(event)">
          </label>
          </br>
          <img id="image" src="picture/demo.jpg" height="200px" width="200px">
          </br>
          <label class="btn btn-outline-success">
            Upload this image
            <input type="submit" hidden/>
          </label>
        </form>
        

      </div>
    </div>
  </div>
  <iframe name='hidden_frame' id="hidden_frame" style='display: none'></iframe>
  <div class="container m-3">
    <div class="row">
      <div class="col">
        <h4>2. Get your result</h4>
        <ol id="resultList">
          <li>music1</li>
          <li>music2</li>
        </ol>
      </div>
    </div>
  </div>
  
  <script>
    function changImg(e) {
      for (var i = 0; i < e.target.files.length; i++) {
        var file = e.target.files.item(i);
        if (!(/^image\/.*$/i.test(file.type))) {
          alert("can only upload image");
          continue; 
        }
        var freader = new FileReader();  
        freader.readAsDataURL(file);  
        freader.onload = function(e) {
          $("#image").attr("src",e.target.result);  
        }
      }
    }
  </script>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
