<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script
			  src="https://code.jquery.com/jquery-3.3.1.js"
			  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="bootstrap-slider.min.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="bootstrap-slider.min.css">
        <meta http-equiv="Access-Control-Allow-Origin" content="*">
  <style>
    .bg-head {
      color: #ffffff;
      background-color: rgba(48,125,246,1);
      margin: 10px;
      margin-bottom: 0px;
    }
    .bg-body {
      color: #ffffff;
      background-color: rgba(48,125,246,0.7);
      margin: 10px;
      margin-top: 0px;
    }
  </style>
</head>

<body>

  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" style="color:#ffffff">Emousic</a>
    <form method="get" action="http://www.google.com/search" class="form-inline" target="_blank">
      <input name="q" class="form-control mr-sm-2" type="text" placeholder="music name" aria-label="Search" value="">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </nav>



  <div class="container m-3">
    <div class="row mb-3">
      <div class="col">
        <h4>
          1. Upload your photo
          <div id="loading" class="spinner-border text-success" role="status">
              <span class="sr-only">Loading...</span>
          </div>
        </h4>
      </div>
    </div>

    <div class="row">
      <div class="col ml-3">
        <form >
          <label id="btn-select" class="btn btn-outline-success">
            select your image
            <input type="file" id="files" hidden name="files" accept="image/*" onchange="changImg(event)">
          </label>
          or
          <label id="btn-take" class="btn btn-outline-success">
              take a photo now
          </label>
          <br>
          <div class="select">
            <img style='height:300px;object-fit: contain' id="image" src="picture/default.jpg">
          </div>
          <br>
          <label class="btn btn-outline-success select" id="upload">
            Upload this image
          </label>
        </form>
        <div id="take">
            <video id="video" class="take" width="500px" height="500px" autoplay="autoplay"></video>
            <canvas id="canvas" class="take" width="500px" height="500px"></canvas>
            <button id="snap" class="btn btn-outline-success take" onclick="takePhoto()">take this one</button>
            <button id="submit" class="btn btn-outline-success take" onclick="submit()">submit</button>
          </div>
      </div>

    </div>
  </div>

  <div class="container m-3">
    <div class="row">
      <div class="col">
        <h4>2. Get your result</h4>
          <br>
          <div id="testInput">
            <div>
                <span style="width:100px;height:25px;line-height:20px;font-weight:normal;" class="badge badge-success badge-pill">unpleasant</span>
                <span id="valence-container">
                  <span class="slider" id="valence" data-slider-min="-1" data-slider-max="1" data-slider-step="0.01" data-slider-value="0.6"></span>
                </span>
                <span style="width:100px;height:25px;line-height:20px;font-weight:normal;" class="badge badge-success badge-pill">pleasant</span>
            </div>
            <br>
            <div>
                <span style="width:100px;height:25px;line-height:20px;font-weight:normal;" class="badge badge-success badge-pill">calm</span>
                <span id="arousal-container">
                  <span class="slider" id="arousal" data-slider-min="-1" data-slider-max="1" data-slider-step="0.01" data-slider-value="0.6"></span>
                </span>
                <span style="width:100px;height:25px;line-height:20px;font-weight:normal;" class="badge badge-success badge-pill">excited</span>
            </div>
          </div>
          <br>
          <br>

          <div id="resultList">

          </div>
      </div>
  </div>

 <script>
    $("#testInput").hide();
    $("#loading").hide();
    $(".take").hide();
    $("#btn-take").click(function() {
      $(".select").hide();
      $(".take").show();
      getMedia();
    });
    $("#btn-select").click(function() {
      let constraints = {
          video: {width: 500, height: 500},
          audio: true
      };

      let video = document.getElementById("video");

        let stream = video.srcObject;
        let tracks = stream.getTracks();

        tracks.forEach(function(track) {
            track.stop();
        });
      $(".take").hide();
      $(".select").show();
      /*let promise = navigator.mediaDevices.getUserMedia(constraints);
      promise.then(function (MediaStream) {
          video.srcObject = MediaStream;
          $("#video").close();
      });*/
    })
    //$("#resultList").hide();
    //var mySlider = $("span.slider").slider();
    //$("span.slider").attr("data-slider-value", "0");
    var mySlider = $("span.slider").slider();
      let songs;
    $(document).ready(function(){
      $("#upload").click(function (){
        $("#loading").show();
        let files = $("#files")[0].files[0];
        console.log(files);
        let formData = new FormData();
        formData.append("files",files);
        let xmlHttp = new XMLHttpRequest();
        //console.log(fd.values());
        xmlHttp.open("POST", "http://127.0.0.1:8082/uploadImage");
        //xmlHttp.setRequestHeader("Authorization", 'Bearer ' + localStorage.token);//设置请求header,按需设定，非必须
        xmlHttp.send(formData);
        xmlHttp.onreadystatechange=function()
        {
          if (xmlHttp.readyState === 4)
          {
            $("#loading").hide();
            //alert(xmlHttp.responseText);
            if(xmlHttp.responseText === "there is no face detected in the picture"){
              alert("there is no face detected in the picture");
            }
            else{
                songs = xmlHttp.responseText.split('/');
                let url1 = "http://www.google.com/search?q=" + songs[0].replace(/ /g, "+");
                let url2 = "http://www.google.com/search?q=" + songs[1].replace(/ /g, "+");
                let url3 = "http://www.google.com/search?q=" + songs[2].replace(/ /g, "+");
                let url4 = "http://www.google.com/search?q=" + songs[3].replace(/ /g, "+");
                let url5 = "http://www.google.com/search?q=" + songs[4].replace(/ /g, "+");
                document.getElementById("resultList").innerHTML=
                    '<a href=' + url1 + 'target="_blank">' + '<label class="btn btn-outline-success" style="width:600px">' + songs[0] + '</label>' + '</a>' +
                    '<a href=' + url2 + 'target="_blank">' + '<label class="btn btn-outline-success" style="width:600px">' + songs[1] + '</label>' + '</a>' +
                    '<a href=' + url3 + 'target="_blank">' + '<label class="btn btn-outline-success" style="width:600px">' + songs[2] + '</label>' + '</a>' +
                    '<a href=' + url4 + 'target="_blank">' + '<label class="btn btn-outline-success" style="width:600px">' + songs[3] + '</label>' + '</a>' +
                    '<a href=' + url5 + 'target="_blank">' + '<label class="btn btn-outline-success" style="width:600px">' + songs[4] + '</label>' + '</a>';

                $("#valence-container").empty();
                $("#arousal-container").empty();
                var valence = $('<span class="slider" id="valence" data-slider-min="-1" data-slider-max="1" data-slider-step="0.01" data-slider-value="0.6"></span>');
                valence.attr("data-slider-value", songs[6]);
                var arousal = $('<span class="slider" id="arousal" data-slider-min="-1" data-slider-max="1" data-slider-step="0.01" data-slider-value="0.6"></span>');
                arousal.attr("data-slider-value", songs[7]);
                $("#valence-container").append(valence);
                $("#arousal-container").append(arousal);
                var valence_slider = $("#valence").slider();
                var arousal_slider = $("#arousal").slider();
                $("#testInput").show();
              console.log(songs);

            }
          }
        }
      })
    });

    function changImg(e) {
      for (var i = 0; i < e.target.files.length; i++) {
        var file = e.target.files.item(i);
        if (!(/^image\/.*$/i.test(file.type))) {
          alert("can only upload image");
          continue;
        }
        var freader = new FileReader();
        freader.readAsDataURL(file);
        freader.onload = function(e) {
          $("#image").attr("src",e.target.result);
        }
      }
    }
    function submit () {
      $("#loading").show();
                var mycanvas = document.getElementById("canvas");
                var base64Data = mycanvas.toDataURL();

                var blob = dataURItoBlob(base64Data);

                var fd = new FormData();
                fd.append("files", blob);

                var xmlHttp = new XMLHttpRequest();
                //console.log(fd.values());
                xmlHttp.open("POST", "http://127.0.0.1:8082/uploadImage");
                //xmlHttp.setRequestHeader("Authorization", 'Bearer ' + localStorage.token);//设置请求header,按需设定，非必须
                xmlHttp.send(fd);
                //ajax
                xmlHttp.onreadystatechange=function()
                {
                if (xmlHttp.readyState === 4)
                {
                  $("#loading").hide();
                    //alert(xmlHttp.responseText);
                    if(xmlHttp.responseText === "there is no face detected in the picture"){
                    alert("there is no face detected in the picture");
                    }
                    else{
                      songs = xmlHttp.responseText.split('/');
                      let url1 = "http://www.google.com/search?q=" + songs[0].replace(/ /g, "+");
                      let url2 = "http://www.google.com/search?q=" + songs[1].replace(/ /g, "+");
                      let url3 = "http://www.google.com/search?q=" + songs[2].replace(/ /g, "+");
                      let url4 = "http://www.google.com/search?q=" + songs[3].replace(/ /g, "+");
                      let url5 = "http://www.google.com/search?q=" + songs[4].replace(/ /g, "+");
                      document.getElementById("resultList").innerHTML=
                          '<a href=' + url1 + 'target="_blank">' + '<label class="btn btn-outline-success" style="width:600px">' + songs[0] + '</label>' + '</a>' +
                          '<a href=' + url2 + 'target="_blank">' + '<label class="btn btn-outline-success" style="width:600px">' + songs[1] + '</label>' + '</a>' +
                          '<a href=' + url3 + 'target="_blank">' + '<label class="btn btn-outline-success" style="width:600px">' + songs[2] + '</label>' + '</a>' +
                          '<a href=' + url4 + 'target="_blank">' + '<label class="btn btn-outline-success" style="width:600px">' + songs[3] + '</label>' + '</a>' +
                          '<a href=' + url5 + 'target="_blank">' + '<label class="btn btn-outline-success" style="width:600px">' + songs[4] + '</label>' + '</a>';

                      $("#valence-container").empty();
                      $("#arousal-container").empty();
                      var valence = $('<span class="slider" id="valence" data-slider-min="-1" data-slider-max="1" data-slider-step="0.01" data-slider-value="0.6"></span>');
                      valence.attr("data-slider-value", songs[6]);
                      var arousal = $('<span class="slider" id="arousal" data-slider-min="-1" data-slider-max="1" data-slider-step="0.01" data-slider-value="0.6"></span>');
                      arousal.attr("data-slider-value", songs[7]);
                      $("#valence-container").append(valence);
                      $("#arousal-container").append(arousal);
                      var valence_slider = $("#valence").slider();
                      var arousal_slider = $("#arousal").slider();
                      $("#testInput").show();
                    console.log(songs);

                    }
                }
                }
            };
            function dataURItoBlob (base64Data) {
                var byteString;
                if (base64Data.split(',')[0].indexOf('base64') >= 0)
                    byteString = atob(base64Data.split(',')[1]);
                else
                    byteString = unescape(base64Data.split(',')[1]);
                var mimeString = base64Data.split(',')[0].split(':')[1].split(';')[0];
                var ia = new Uint8Array(byteString.length);
                for (var i = 0; i < byteString.length; i++) {
                    ia[i] = byteString.charCodeAt(i);
                }
                return new Blob([ia], {type: mimeString});
            };

            function getMedia() {
                let constraints = {
                    video: {width: 500, height: 500},
                    audio: false
                };

                let video = document.getElementById("video");

                let promise = navigator.mediaDevices.getUserMedia(constraints);
                promise.then(function (MediaStream) {
                    video.srcObject = MediaStream;
                    video.play();
                });
            }

          function takePhoto() {

            let video = document.getElementById("video");
            let canvas = document.getElementById("canvas");
            let ctx = canvas.getContext('2d');
            ctx.drawImage(video, 0, 0, 500, 500);
            //var file = document.getElementById("file");
            //var fReader = new FileReader();
            //fReader.readAsDataURL(dataURLtoBlob(canvas.toDataURL()) );
            //var image = document.getElementById("image");
            //image.src = canvas.toDataURL("image/png");
          }
  </script>


</body>
