    <!DOCTYPE html>
    <html lang="en">
    	<head>
    		<title>GET VIDEO</title>
            <meta charset="utf-8">
            <meta http-equiv="Access-Control-Allow-Origin" content="*">
            <script
                        src="https://code.jquery.com/jquery-3.3.1.js"
                        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
                crossorigin="anonymous"></script>
                <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    	</head>
    	<body>
        <h4> 1.take a photo for yourself!</h4>
    	</br>
    	<input type="button"  value="turn on your camera" onclick="getMedia()" />
    	<video id="video" width="500px" height="500px" autoplay="autoplay"></video>
    	<canvas id="canvas" width="500px" height="500px"></canvas>
        <button id="snap" onclick="takePhoto()">take photo!</button>
        <button id="submit" onclick="submit()">submit</button>
        </br>
        <div class="container m-3">
            <div class="row">
                <div class="col">
                <h4>2. Get your result</h4>
                    <div id="testInput"></div>
                    <div id="resultList"></div>
                </div>
            </div>
        </div>

        
    	<script>
            function submit () {
                var mycanvas = document.getElementById("canvas");
                var base64Data = mycanvas.toDataURL();

                var blob = dataURItoBlob(base64Data);

                var fd = new FormData();
                fd.append("files", blob);

                var xmlHttp = new XMLHttpRequest();
                //console.log(fd.values());
                xmlHttp.open("POST", "http://127.0.0.1:8082/uploadImage");
                //xmlHttp.setRequestHeader("Authorization", 'Bearer ' + localStorage.token);//设置请求header,按需设定，非必须
                xmlHttp.send(fd);
                //ajax
                xmlHttp.onreadystatechange=function()
                {
                if (xmlHttp.readyState === 4)
                {
                    //alert(xmlHttp.responseText);
                    if(xmlHttp.responseText === "there is no face detected in the picture"){
                    alert("there is no face detected in the picture");
                    }
                    else{
                        songs = xmlHttp.responseText.split('/');
                        document.getElementById("resultList").innerHTML=
                            '<ol>' + '<li>' + songs[0] + '</li>' +
                            '<li>' + songs[1] + '</li>' +
                            '<li>' + songs[2] + '</li>' +
                            '<li>' + songs[3] + '</li>' +
                            '<li>' + songs[4] + '</li>';
                        document.getElementById("testInput").innerHTML=
                            '<i>valence(unpleasant->pleasant): ' + songs[6] + '</i>' + '<br>' +
                            '<i>arousal(calm->excited): ' + songs[7] + '</i>'
                            + '<br>' + '<br>';
                    console.log(songs);
                    
                    }
                }
                }
            };
            function dataURItoBlob (base64Data) {
                var byteString;
                if (base64Data.split(',')[0].indexOf('base64') >= 0)
                    byteString = atob(base64Data.split(',')[1]);
                else
                    byteString = unescape(base64Data.split(',')[1]);
                var mimeString = base64Data.split(',')[0].split(':')[1].split(';')[0];
                var ia = new Uint8Array(byteString.length);
                for (var i = 0; i < byteString.length; i++) {
                    ia[i] = byteString.charCodeAt(i);
                }
                return new Blob([ia], {type: mimeString});
            };

            function getMedia() {
                let constraints = {
                    video: {width: 500, height: 500},
                    audio: true
                };

                let video = document.getElementById("video");

                let promise = navigator.mediaDevices.getUserMedia(constraints);
                promise.then(function (MediaStream) {
                    video.srcObject = MediaStream;
                    video.play();
                });
            }

          function takePhoto() {

            let video = document.getElementById("video");
            let canvas = document.getElementById("canvas");
            let ctx = canvas.getContext('2d');
            ctx.drawImage(video, 0, 0, 500, 500);
            //var file = document.getElementById("file");
            //var fReader = new FileReader();
            //fReader.readAsDataURL(dataURLtoBlob(canvas.toDataURL()) );
            //var image = document.getElementById("image");
            //image.src = canvas.toDataURL("image/png");
          }
    </script>
    </body>
    </html>



